/* App */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Banner - For display purposes, please delete later*/
img {
  max-width: 100%;
  min-height: 40px;
}

/* Drop Downs*/
.dropdown-container select {
  min-height: 50px;
  padding-left: 16px;
}
.dropdowns-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.dropdown-container {
  flex: 1;
  max-width: 100%; 
}

select {
  width: 98%;
}

/* Buttons */
#clear-filters {
  float: right;
  min-height: 50px;
  text-align: center;
}

#toggle-more-filters {
  float: right;
  min-height: 50px;
  text-align: center;
}

/* Search Bar*/
.search-wrapper {
  padding-bottom: 16px;
}
.search-wrapper input{
  min-height: 36px;
}

/* Table */
.filtered-data-wrapper {
  padding-top: 36px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.table-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table-row {
  padding-top: 15px;
}

.filtered-data th {
  text-align: left;
}

.filtered-data td {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filtered-data th:nth-child(2) {
  width: 12%;
}

.filtered-data th:nth-child(4) {
  width: 20%;
}

th {
  width: calc(100% / 5);
}

/* Resize*/
@media screen and (max-width: 700px) {
  .dropdowns-wrapper {
      flex-direction: column;
  }

  /* Hidden*/
  .hidden {
    display: none;
  }

  /* Dropdown */
  select {
    width: 100%;
  }

  /* Table*/
  table.filtered-data{
    display: flex;
  }

  th{
    width: 50%;
  }

  .filtered-data th {
    text-align: center;
  }

  .filtered-data td {
    text-align: center;
  }
}


