.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.search-wrapper{
  max-width: 100%;
}
.container {
  max-width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
}
.select-invisible {
  display: none;
}
#toggle-more-filters {
  float: right;
  min-height: 50px;
}


.filtered-data {
  justify-content: space-between;
}

.filtered-data th {
  text-align: left;
}

.filtered-data td {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  width: 100%;
  table-layout: fixed;
}

th:first-child {
  width: 15%;
}

th:last-child {
  width: 15%;
}

.filtered-data th:nth-child(2) {
  width: 12%;
}

.filtered-data th:nth-child(4) {
  width: 20%;
}



.dropdowns-container {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-container:last-child {
  width: 100%;
}

.dropdown-container select {
  min-height: 50px;
  padding-left: 16px;
}
.dropdowns-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.dropdown-container {
  flex: 1;
  margin-right: 10px;
  max-width: 100%;
}

select {
  width: 100%;
  max-width: 300px; /* Set a max-width for the dropdowns */
}
th {
  width: calc(100% / 5);
}
